.navbar{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: blue;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.title-home{
  display: flex;
  margin-left: 10px;
}

.navbar .logout{
  width: 40%;
  display: flex;
  justify-content: end;
}

.navbar a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar a:hover{
  color: red;
}

.navbar .navbar-opt {
  width: 40%;
  display: flex;
  justify-content: start;
}

.navbar .navbar-opt a{
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar .navbar-opt a:hover{
  color: red;
}